<div class="container jumbotron" *ngIf="isInitial">
    <h2> Привет, давай сыграем в игру! </h2>
    <p> Я постараюсь угадать цифру в твоей голове </p>
    <p><button class="btn btn-primary btn-lg" href="#" role="button">Давай!</button></p>
</div>

<div class="container jumbotron" *ngIf="!isInitial">
    <p> {{currentAppeal.textAppeal}} {{currentAppeal.number}} </p>
    <p><button class="btn btn-primary btn-lg" href="#" role="button">Далее</button></p>
</div>